<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="SCM_STALLIONLIVE" connectionString="Data Source=169.254.157.23,1433;Initial Catalog=SCM_STALLION;User ID=RLFLINK;Password=ABC123;Integrated Security=false"
            providerName="System.Data.SqlClient" />-->
    <add name="SCM_STALLIONLIVE" connectionString="Data Source=JIM;Initial Catalog=SCM_STALLION;Integrated Security=True"
                providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>